{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

<div class="auth-wrapper">

<div class="card auth-card">

<div class="logo">
Join NexTalk
</div>

<p class="subtitle">
Create your account and start conversations.
</p>
{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}

<form method="POST">

{% csrf_token %}

<input
type="text"
name="username"
placeholder="Username">

<input
type="password"
name="password1"
placeholder="Password">

<input
type="password"
name="password2"
placeholder="Confirm Password">

<button type="submit">

Create Account

</button>

</form>

<div class="bottom-text">

Already have an account?

<a href="{% url 'login' %}">

Login

</a>

</div>

</div>

</div>

{% endblock %}